@{
    ViewData["Title"] = "Home Page";
    string[] TableHeaders = new string[] {"id"
      ,"name"
      ,"amount"};
}



<div class="table">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                @{
                    foreach(var head in TableHeaders)
                    {
                        <th>
                            @head
                        </th>
                    }
                }
            </tr>
        </thead>
        @{
            if(Model != null)
            {
                foreach(var Data in Model)
                {
                    <tr>
                        <td>@Data.id</td>
                        <td>@Data.name</td>
                        <td>@Data.amount</td>
                    </tr>  
                }
                
            }
        }
        <tbody>

        </tbody>
    </table>
</div>
