@{
    ViewData["Title"] = "Home Page";
    string[] TableHeaders = new string[] {"id"
      ,"name"
      ,"amount"};
}

<div class="min-vh-100 w-100">
        <div class="main-container w-100 d-flex flex-column p-2 justify-content-centerr align-self-center">
            <div class="logo w-100 h-25 text-center">
                Wells Fargo
            </div>
            <div class="w-100 h-75 flex-column d-flex p-2 justify-content-center align-self-center">
                <div class="information-container">
                    <h1 class="text-center">Please enter your PIN</h1>
                    <div class="pin-container-input text-center">
                        <label for="input">PIN</label>
                        <input type="text" name="input" class="align-center rounded-top rounded-bottomeeeeeeeeeeee">
                    </div>
                    
                    <h2 class="text-center">Please use the KEY PAD to enter PIN</h2>
                </div>
            </div>
            <img src="https://th.bing.com/th/id/R.ea5cd45f4ccfb10ea06543976d8a56ec?rik=%2fZLQV9UYGNWb%2bw&riu=http%3a%2f%2f3.bp.blogspot.com%2f-pLN2eNgjQKg%2fVFPLr7bUbjI%2fAAAAAAAAM3Y%2f1QQKe1Szd1o%2fs1600%2fATM-Machine.jpg&ehk=nbDhK2I0c%2f3tvSSFxggXRHoFHvXxRAruYsE7HzgJc64%3d&risl=&pid=ImgRaw&r=0" class="w-50 h-50" alt="keypad-image" class="w-50 mx-auto d-block align-center">
        </div>
        
    </div>

<div class="table">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                @{
                    foreach(var head in TableHeaders)
                    {
                        <th>
                            @head
                        </th>
                    }
                }
            </tr>
        </thead>
        @{
            if(Model != null)
            {
                foreach(var Data in Model)
                {
                    <tr>
                        <td>@Data.id</td>
                        <td>@Data.name</td>
                        <td>@Data.amount</td>
                    </tr>  
                }
                
            }
        }
        <tbody>

        </tbody>
    </table>
</div>
